assets/*
!assets/.gitignore
!assets/SDAppAsset.php
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/node_modules
/data/*.db
/bower-assets
/web/assets/*
!/api/assets/index.html
!/web/assets/index.html
/runtime/assets/*
/runtime/cache/*
/runtime/debug/*
/runtime/logs/*
!/runtime/assets/asset.log
!/runtime/cache/cache.log
!/runtime/debug/debug.log
!/runtime/logs/app.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
vercel-lock.json
.vercel